
#heading {
	background-position: 100%;
	background-size: 100%;
	font-family: "Times New Roman", Times, serif;
	font-size: xx-large;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	color: #FFFFFF;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	letter-spacing: 1ex;
	background-color: #007A60;
	margin-top: 10px;
	width: 100%;
	height: 60px;
}

#menu {
	margin-left: auto;
	margin-right:auto;
	azimuth:center;
	width: 750px;
	height: 40px;
}
#TD1 {
	border: 1px solid #666;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: medium;
	empty-cells:hide;
	width: auto;
	margin-top: 40px;
	height: auto;
	right: auto;
	margin-right: auto;
	margin-left: auto;
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	color: #897358;
	vertical-align: middle;
	text-align: center;
	azimuth:center;
	caption-side:bottom;
	
	
}



a:visited {
	color: #D5C264;background-color:#007A60;
}
a:active {
	color: #897358; background-color:#D5C264;
}
a:hover {
	color: #FFFFFF;background-color:#007A60;
}
a {
	color: #FFFFFF;
}

#logo {
	box-shadow: 5px 5px #d5c264;
	min-width: 50px;
	max-width: 100px;
	min-height: 53px;
	max-height:106px;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: auto;
	position: fixed;
	z-index: 1;
	right: 10px;
	left: auto;
}


#footer {
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	azimuth:center;
	line-height:30px
}


#prev-next {
	background-position: 100%;
	background-size: 100%;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	color: #FFFFFF;
	font-size: large;
	background-color: #007a60;
	line-height: 30px;
	vertical-align: middle;
	font-weight: lighter;
	font-style: normal;
}

#TD3
{
		 width: 300px;
		 margin-left: auto; 
		 margin-right: auto; 
		 font-family: 'Times New Roman', Times, serif; 
		 font-size: small; 
		 font-weight: lighter; 
		 font-style: normal; 
		 font-variant: normal; 
		 color: #007a60;
		  vertical-align: middle; 
		  text-align: center; 
		  margin-top: 0px;
		  azimuth:center;
		  border-width:1px
		  1px
		  ;border-color:#666
	
}

.copyright {
	margin-left:10px;
	color: #897358;

}

#social {
	text-align:center;
	vertical-align:middle;
	width:100px;
	azimuth:center;
	margin-left:auto;
	margin-right:auto
				
}
